// Loading
.loading {
  position: fixed;
  inset: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
background-color: #6E0965;
  z-index: 999;
  isolation: isolate;
  overflow: hidden;

}